.icon {
    width: 1em;
}

.container {
    width: min(breakpoint("tablet"), 90%);
    @extend .mx-auto;
    @extend .p-2;
}

.main-header {
    background-color: color("primary-dark");
    color: color("white");
    @extend .ta-center;
    font-size: size("base");
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.main-nav {
    position: relative;

    .icon-xmark {
        display: none;
    }

    .icon-bars {
        display: inline;
    }

    &.active {
        display: flex;

        .icon-xmark {
            display: inline;
        }
    
        .icon-bars {
            display: none;
        }
    }
}

.brand {
    display: block;
    font-family: family("heading");
    color: color("white");
    text-decoration: text-decoration("none");
    @extend .p-2;

    &:hover, &:focus {
        color: color("white");
    }
    .icon {
        @extend .ml-1;
    }
}

.nav-links {
    list-style-type: none;
    padding-inline-start: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: block;
    color: color("white");
    text-decoration: text-decoration("none");

    @extend .p-2;
    &:hover, &:focus {
        color: color("white");
        background-color: darken(color("primary-dark"), 5%);
    }
}

.btn-collapse {
    background-color: transparent;
    @extend .p-0;
    position: absolute;
    top: 0;
    right: 0;

    .icon {
        width: 1.5em;
    }
}