.icon {
    width: 1em;
}

.container {
    width: min(breakpoint("tablet"), 90%);
    @extend .mx-auto;
    @extend .p-2;
}

.main-header {
    background-color: color("primary-dark");
    color: color("white");
    @extend .p-2;
    @extend .ta-center;
    font-size: size("base");
    position: fixed;
    top: 0;
    width: 100vw;
}

.main-nav {
    position: relative;
}

.brand {
    font-family: family("heading");
    color: color("white");
    text-decoration: text-decoration("none");
    &:hover, &:focus {
        color: color("white");
    }
    .icon {
        @extend .ml-1;
    }
}

.nav-links {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacer("2");
}
.nav-link {
    color: color("white");
    text-decoration: text-decoration("none");
    &:hover, &:focus {
        color: color("white");
    }
}

.btn-collapse {
    background-color: transparent;
    @extend .p-0;
    position: absolute;
    top: 0;
    right: 0;
}