body {
  font-family: family("body");
  font-size: size("root");
}

a {
  color: color("accent-1");
  text-decoration: text-decoration("underline");

  &:hover, &:focus {
    color: darken(color("accent-1"), 5%);
  }
}

.site-title {
  font-family: family("heading");
  font-size: size("site-title");
  font-weight: weight("bold");
}

.page-title {
  font-family: family("heading");
  font-size: size("page-subtitle");
  font-weight: weight("bold");
}

.section-title {
  font-family: family("body");
  font-size: size("section-title");
  text-transform: text-transform("uppercase");
}

.post-title {
  font-family: family("heading");
  font-size: size("post-title");
  font-style: style("italic");
}

.date {
  font-size: size("date");
}

strong, b, em, i, code {
  color: color("accent-1");
}

.color-accent-1 {
  strong, b, em, i, code {
    color: color("primary");
  }

  a {
    color: color("primary");
  
    &:hover, &:focus {
      color: darken(color("primary"), 5%);
    }
  }
}

mark {
  background-color: color("accent-2");
}