---
// Style Imports
import '../styles/main.scss';

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';

let title = 'The Beloved\'s Blog HTML Template';
---

<MainLayout>
	<section class="hero-section">
		<h1 class="hero-title">Archive</h1>
	</section>

  <section class="featured-section">
		<header class="section-header">
			<h2 class="section-title">Featured Post</h2>
		</header>

		<article class="featured-post">
			<h3 class="post-title">Lorem Ipsum</h3>
			<p class="post-date">7 Apr 2022</p>
			<a href="/post" class="btn btn-primary">View Post</a>
		</article>
	</section>

	<section class="content-section">
		<header class="section-header">
			<h2 class="section-title">Apr 2022</h2>
		</header>

		<div class="post-list">
			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>

			<article class="post-item">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<a href="/post" class="btn btn-link">View Post</a>
			</article>
		</div>
		
		<ul class="pagination">
			<li class="pagination-item">
				<a href="/archive-list" class="pagination-link">
					<img src="assets/left.svg" alt="Prev Pagniation" class="icon-pagination">
				</a>
			</li>
			<li class="pagination-item">
				<a href="/archive-list" class="pagination-link">1</a>
			</li>
			<li class="pagination-item">
				<a href="/archive-list" class="pagination-link">2</a>
			</li>
			<li class="pagination-item">
				<a href="/archive-list" class="pagination-link">3</a>
			</li>
			<li class="pagination-item">
				<a href="/archive-list" class="pagination-link">4</a>
			</li>
			<li class="pagination-item">
				<a href="/archive-list" class="pagination-link">5</a>
			</li>
			<li class="pagination-item">
				<a href="/archive-list" class="pagination-link">
					<img src="assets/right.svg" alt="Next Pagniation" class="icon-pagination">
				</a>
			</li>
		</ul>
	</section>
</MainLayout>