---
// Style Imports
import '../styles/main.scss';

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import Pagination from '../components/Pagniation.astro';

let title = 'The Beloved\'s Blog HTML Template';
---

<MainLayout bodyClass="page-archive-list bg-accent-1">
	<section class="hero-section">
		<div class="container">
			<header class="hero-header">
				<h1 class="hero-title">Archive</h1>
			</header>
		</div>
	</section>

  	<section class="featured-section">
		<div class="container">
			<header class="section-header">
				<h2 class="section-title">Featured Post</h2>
			</header>

			<article class="featured-post">
				<h3 class="post-title">Lorem Ipsum</h3>
				<p class="post-date">7 Apr 2022</p>
				<div class="btn-container">
					<a href="/post" class="btn btn-primary">View Post</a>
				</div>
			</article>
		</div>
	</section>

	<section class="content-section bg-primary-light">
		<div class="container">
			<header class="section-header">
				<h2 class="section-title">Apr 2022</h2>
			</header>

			<div class="post-list">
				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>

				<article class="post-item">
					<h3 class="post-title">Lorem Ipsum</h3>
					<p class="post-date">7 Apr 2022</p>
					<a href="/post" class="btn btn-link">View Post</a>
				</article>
			</div>
			
			<Pagination />
		</div>
	</section>
</MainLayout>