---
const brand = "The Beloved's Blog";
---
<header class="main-header active">
  <nav class="main-nav">
    <div class="brand-container">
      <a href="/" class="brand">
        <img src="/assets/logo.svg" alt="Brand Logo" class="icon"> {brand}
      </a>
    </div>

    <div class="links-container">
      <ul class="nav-links">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/post" class="nav-link">Lastest Post</a></li>
        <li class="nav-item"><a href="/archive-folder" class="nav-link">Archive</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>

    <button class="btn btn-collapse">
      <img src="/assets/xmark.svg" alt="Close Menu" class="icon icon-xmark">
      <img src="/assets/bars.svg" alt="Expand Menu" class="icon icon-bars">
    </button>
  </nav>
</header>
