---
const createdDate = new Date(2022, 3, 9)
const now = new Date()
let copyrightDate = `${createdDate.getFullYear()}`
if (createdDate.getFullYear() !== now.getFullYear()) {
  copyrightDate = `${createdDate.getFullYear()} - ${now.getFullYear()}`
}
---
<footer class="main-footer">
  <div class="container">
    <p class="copyright">The Beloved's Blog &copy; Davina Leong {copyrightDate}</p>
  </div>
</footer>