<ul class="pagination">
    <li class="pagination-item">
        <a href="/archive-list" class="pagination-link-arrow">
            <img src="assets/images/left.svg" alt="Prev Pagniation" class="icon-pagination">
        </a>
    </li>
    <li class="pagination-item">
        <a href="/archive-list" class="pagination-link">1</a>
    </li>
    <li class="pagination-item">
        <a href="/archive-list" class="pagination-link">2</a>
    </li>
    <li class="pagination-item active">
        <a href="/archive-list" class="pagination-link">3</a>
    </li>
    <li class="pagination-item">
        <a href="/archive-list" class="pagination-link">4</a>
    </li>
    <li class="pagination-item">
        <a href="/archive-list" class="pagination-link">5</a>
    </li>
    <li class="pagination-item">
        <a href="/archive-list" class="pagination-link-arrow">
            <img src="assets/images/right.svg" alt="Next Pagniation" class="icon-pagination">
        </a>
    </li>
</ul>