---
// Component Imports
import MainHeader from '../components/MainHeader.astro';
import MainFooter from '../components/MainFooter.astro';

const { bodyClass }  = Astro.props;
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>The Beloved's Blog HTML Template</title>

	<link rel="icon" type="image/png" href="/favicon.png" />
	<script src="/scripts/main.js"></script>
</head>
<body class={bodyClass}>
  	<MainHeader />

	<main class="main-content">
		<slot></slot>
	</main>

	<MainFooter />
</body>
</html>